<div class="component" *ngIf="shop">
    <div class="header">
    <div class="header-align">
        <div class="float-logo" (click)="goTospecialRoute()">
            <div class="logo-container">
                    <img [src]="shop.logo" class="logo">
                </div>
        </div>
        <div class="header-search-align" *ngIf="shopId">
            <i class="fas fa-search search-icon"></i>
            <input
                type="text"
                class="search-input"
                [value]="searchTerm"
                (input)="onSearchInput($any($event.target).value)"
                placeholder="ძებნა პროდუქტებში..."
            >
        </div>
        <div class="navigation-align">
            <!-- <span [ngClass]="{'login-popup': Authorised}" class="nav-link" routerLinkActive="active-link" (click)="goTospecialRoute()"><div class="shop-logo-container" *ngIf="shop.logo"><img class="shop-logo" [src]="shop.logo" alt=""></div> <b>მთავარი</b> </span> -->
            <span [ngClass]="{'login-popup': Authorised}" *ngIf="!Authorised" class="nav-link" routerLinkActive="active-link" (click)="openAuthorization()"><b ><i class="fas fa-user-shield"></i> ავტორიზაცია</b> </span>
            <div *ngIf="Authorised" class="nav-link profile-link" [routerLink]="AppRoutes.profile" [ngClass]="{'login-popup': Authorised}" >
                <div class="img-container" *ngIf="userPhoto">
                    <img [src]="userPhoto" class="user-image">
                </div>
                <p class="username">{{user?.Name}}</p>
            </div>
        </div>
        <div class="burger-icon-align" >
            <span class="nav-link" routerLinkActive="active-link" (click)="openSidenav()"><i class="fas fa-bars"></i></span>
        </div>
    </div>
</div>
</div>

<div class="sidenav-align"*ngIf="sidenavVisible">
    <div class="background-exit" [ngClass]="{'background-close':leftToright}" (click)="hideSidenav()"></div>
    <div class="mobile-navigation-align" [ngClass]="{'left-toright':leftToright}">
        <div class="cancel-icon-align">
            <i class="fas fa-times" (click)="hideSidenav()"></i>
        </div>
        <div class="nav-center">
            <span *ngIf="shopId" class="nav-link" routerLinkActive="active-link" (click)="goTospecialRoute();hideSidenav()"><div class="shop-logo-container" *ngIf="shop.logo"><img class="shop-logo" [src]="shop.logo" alt=""></div> <b>მაღაზია</b></span>
            <div *ngIf="Authorised" class="nav-link profile-link" [routerLink]="AppRoutes.profile"(click)="hideSidenav()" routerLinkActive="active-link"><img src="" alt="">
                <div class="img-container">
                    <img [src]="userPhoto" class="user-image">
                </div>
                <p class="username">{{user?.Name}}</p>
            </div>
            <span *ngIf="!Authorised" class="nav-link" routerLinkActive="active-link" (click)="openAuthorization()"><b ><i class="fas fa-user-shield"></i> ავტორიზაცია</b> </span>
        </div>
        <div class="sidenav-socials" *ngIf="shop.instagram || shop.facebook || shop.titkok">
            <a class="social-link instagram" *ngIf="shop.instagram" [href]="shop.instagram" target="_blank">
                <span class="social-icon"><img src="assets/icons/instagram.svg" alt=""></span>
                <b>Instagram</b>
            </a>
            <a class="social-link facebook" *ngIf="shop.facebook" [href]="shop.facebook" target="_blank">
                <span class="social-icon"><img src="assets/icons/facebook.svg" alt=""></span>
                <b>Facebook</b>
            </a>
            <a class="social-link tiktok" *ngIf="shop.titkok" [href]="shop.titkok" target="_blank">
                <span class="social-icon"><img src="assets/icons/tiktok.svg" alt=""></span>
                <b>TikTok</b>
            </a>
        </div>
    </div>
</div>