<div class="photo-container desktop">
    <app-discount-mark *ngIf="products.discountedPrice!=null&&products.discountedPrice>0 &&PhotoCongif.priceVisible" class="discount-procent" [discount]="products"></app-discount-mark>

    <div class="information-align" *ngIf="PhotoCongif.hoverVisible" >
        <div class="navigate"  (click)="NavigateToDetails()" *ngIf="PhotoCongif.navigationAvailable"></div>
        <b class="title" style="word-break: break-all;">
            {{products.title}}
        </b>
    </div>
    <div class="heart-align" (click)="likePost()" *ngIf="PhotoCongif.likeVisible">
        <i class="fas fa-heart heart" *ngIf="!postLiked"></i>
        <i class="fas fa-heart liked-post" *ngIf="postLiked"></i>
        <p *ngIf="PhotoCongif.likeCountvisible">
            {{LikeCount}}
        </p>
    </div>
    <div class="discount-price-mobile" *ngIf="PhotoCongif.priceVisible" >
        <b [ngClass]="{'discounted-price': products.discountedPrice>0}" >{{products.price}}₾</b>
        <b *ngIf="products.discountedPrice>0">{{products.discountedPrice}}₾</b>
    </div>

    <!-- <div class="discount-price-mobile" *ngIf="PhotoCongif.priceVisible" >
        <b *ngIf="products.discountedPrice<=0">{{products.price}}₾</b>
        <b *ngIf="products.discountedPrice>0">{{products.discountedPrice}}₾</b>
    </div> -->

    <img *ngIf="products.photos.length>0" [src]="products.photos[0].photoUrl" alt="" class="photo">
    <img *ngIf="products.photoUrl" [src]="products.photoUrl" alt="" class="photo">
</div>

<div class="photo-container mobile">
    <div class="information-align"(click)="NavigateToDetails()" *ngIf="PhotoCongif.navigationAvailable">
        <div class="navigate"  (click)="NavigateToDetails()" >
        <b class="titles" >
            {{products.title}}
           </b>
        </div>
   
    </div>
    <app-discount-mark *ngIf="products.discountedPrice!=null&&products.discountedPrice>0 &&PhotoCongif.priceVisible " class="discount-procent" [discount]="products"></app-discount-mark>
  
    <!-- <div class="mobile-router" (click)="NavigateToDetails()" *ngIf="PhotoCongif.navigationAvailable"></div> -->
    
    <div class="discount-price-mobile" *ngIf="PhotoCongif.priceVisible" >
        <b [ngClass]="{'discounted-price': products.discountedPrice>0}" >{{products.price}}₾</b>
        <b *ngIf="products.discountedPrice>0">{{products.discountedPrice}}₾</b>
    </div>
    
    <!-- <div class="discount-price-mobile" *ngIf="PhotoCongif.priceVisible" >
        <b *ngIf="products.discountedPrice<=0">{{products.price}}₾</b>
        <b *ngIf="products.discountedPrice>0">{{products.discountedPrice}}₾</b>
    </div> -->
    <div class="title"(click)="likePost()"><p><i class="fas fa-heart heart" [ngClass]="{'liked-post':postLiked}" *ngIf="PhotoCongif.likeVisible" ></i></p></div>
    <img *ngIf="products.photos.length>0" [src]="products.photos[0].photoUrl" alt="" class="photo">
    <img *ngIf="products.photoUrl" [src]="products.photoUrl" alt="" class="photo">
</div>

