
<div class="gallery-align">
    <div class="shop-align">
        <div class="shop-header">
            <div class="shop-title-container">
                <div class="logo-title-align">
                    <div style="display: flex; align-items: center; gap: 5px;" *ngIf="shop">
                        <div class="shop-logo-container">
                            <img [src]="shop.logo" alt="" class="shop-logo">
                        </div>
                        <div class="shop-title">
                            <p class="sho-title-title" >{{shop.name}}</p>
                            <div class="followers-align">
                                <div class="followers">
                                    <p>{{shopStats.productCount}}</p>
                                    <p style="color:grey">posts</p> 
                                </div>
                                <div class="followers">
                                    <p>{{shopStats.followerCount}}</p>
                                    <p style="color:grey">followers</p> 
                                </div>
                            </div>
                            <div class="followers-container-align">
                                <div class="followers-container" *ngFor="let u of users">
                                    <img [src]="u.profilePhoto" alt="" class="follower-img">
                                </div>
                                <div class="followers" *ngIf="users.length>0" style="display: flex; align-items: center; gap:5px; margin-left: 5px; color: grey; flex-wrap: wrap;">
                                    <p style="max-width: 70px; overflow: hidden;">{{users[0].name}}</p>
                                    <p>and more</p> 
                                </div>
                            </div>
                            <button class="follow-button" [ngClass]="{'following':isShopFollowed}" (click)="followShop()">{{followString}} <i *ngIf="isShopFollowed" class="fas fa-check-double"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-container">
    </div>
    <div class="gallery">
        <app-gallery *ngIf="shopId!=0" [ShopId]="shopId"></app-gallery>
    </div>
</div>

<app-footer class="footer" *ngIf="footer" [footer]="footer"></app-footer>

