<div class="center-component">
  <div class="body-align">
    <div class="component">
      <div class="header-grid">
        <div class="card-information" *ngIf="postsLoaded">
          <div class="photo-align">
            <div class="order-num-align">
              <div
                class="order-box"
                [ngClass]="{'is-payed':order.isPaid,'to-payed':!order.isPaid,}"
              >
                <p class="order-status">შეკვეთა</p>
                <p class="order-id">
                  #{{ order.orderNumber }}
                </p>
              </div>
            </div>
            <div class="photo-container">
              <div *ngFor="let p of photosArray; let i = index">
                <img [src]="p.photoUrl" *ngIf="i == 0" alt="" class="photo" />
              </div>
            </div>

            <div class="user-information" *ngIf="order.isPaid">
               <div class="rules-align" >
                  <div class="title">
                    <b>შეკვეთის სტატუსი<i class="fas fa-file-alt"></i></b>
                  </div>
                  <div class="statuses-modal">
                    <div class="detail-align">
                      <div class="order-road">
                        <div *ngFor="let o of orderStatuses; let last = last;" class="order-step">
                          <div class="step-marker" [ngClass]="{'completed': o.id < order.statusId, 'current': o.id === order.statusId}"></div>
                          <div class="step-line" *ngIf="!last" [ngClass]="{'completed': o.id < order.statusId}"></div>
                          <div class="step-label" [ngClass]="{'completed-label': o.id < order.statusId, 'current-label': o.id === order.statusId}">
                            {{ getStatusName(o.id) }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="product-details-align"   [ngClass]="{ 'pay-one-align': !order.isPaid }">
              <div class="detail-align">
                <div
                  class="detail info-background" style="width: 100%;"
                  (click)="scrollToBottomMethod()"
                  *ngIf="!order.isPaid"
                  [ngClass]="{ 'to-payed': !order.isPaid }"
                >
                  <p class="">გადასახდელი</p>
                  <b> {{ order.finalPrice }}₾</b>
                  <i class="fas fa-credit-card"></i>
                </div>
                <div
                  class="detail info-background payed-container"
                  *ngIf="order.isPaid"
                  [ngClass]="{ 'is-payed': order.isPaid }"
                >
                  <p class="">გადახდილი</p>
                  <b> {{ order.finalPrice }}₾</b>
                  <i class="fas fa-credit-card"></i>
                </div>
              </div>
              <div class="delivery-align info-background detail"   *ngIf="order.isPaid">
               <p style="text-align: center">რაოდენობა <b style="font-size: 18px; background-color: rgba(0, 0, 0, 0.342); border-radius: 5px; padding: 5px 10px;">{{ order.productQuantity }}</b></p>
             </div>
              <div class="delivery-align info-background detail" *ngIf="order.isPaid">
                <p style="text-align: center">{{ order.deliveryType }}</p>
              </div>
               <div class="delivery-align info-background detail" style="flex-direction: column;" *ngIf="order.isPaid&& order.address!=''">
                <p>მისამართი</p>
                <p style="text-align: center" style="font-size: 18px;  background-color: rgba(0, 0, 0, 0.136); border-radius: 5px; padding: 5px 10px; word-break: break-all;">{{ order.address }}</p>
              </div>
              <!-- <div class="delivery-align info-background detail">
                <p style="text-align: center">{{ order.address }}</p>
              </div> -->
            </div>
            <div class="comment-align user-information"  *ngIf="order.isPaid">
              <div class="form-group">
                <label for="" style="display: flex; gap: 20px; color: white"
                  >კომენტარი
                  <p style="color: gray">{{ comment.length }}/300</p>
                </label>
                <textarea
                  [(ngModel)]="comment"
                  disabled="true"
                  class="form-control"
                  maxlength="300"
                  style="min-height: 100px"
                ></textarea>
              </div>
            </div>
          </div>
          <ng-container  *ngIf="order.isPaid ">
            <div class="user-information" *ngIf="order.address==''">
              <div id="map" ></div>
            </div>
          </ng-container>
          <div class="user-information" *ngIf="!order.isPaid" #scrollToBottom>
            <div class="rules-align">
              <div class="title">
                <b>გადახდის წესები<i class="fas fa-file-alt"></i></b>
              </div>
              <div class="rulessss">
                <div style="display: flex; flex-direction: column; gap: 10px; ">
                  <div class="rules">
                    <div style=" display: flex; gap:10px; flex-wrap: nowrap;" class="to-pay-text">
                       <p >გადარიცხე თანხა</p> <b style="color: orange;"> ({{order.finalPrice}}₾) </b> <p> ანგარიშზე</p>
                    </div>
                  </div>
                  <div *ngIf="shop.bog" class="rules-text-align"  (click)="copyToClipboard(shop.bog,1)">
                    <div class="logo-container">
                      <img src="assets/img/bog.png" class="logo" alt="" />
                    </div>
                    <p>{{shop.bog}}</p>
                    <button class="copy-button">
                      <span class="copied" *ngIf="copiedNumber ==1"> ✅</span>
                       <i class="fas fa-copy" style="color: white"></i>
                    </button>
                  </div>
                  <div *ngIf="shop.tbc" class="rules-text-align" (click)="copyToClipboard(shop.tbc,2)">
                    <div class="logo-container">
                      <img src="assets/img/tbc.jpg" class="logo" alt="" />
                    </div>
                    <p>{{shop.tbc}}</p>
                    <button class="copy-button" >
                      <span class="copied" *ngIf="copiedNumber ==2"> ✅</span>
                       <i class="fas fa-copy" style="color: white"></i>
                    </button>
                  </div>
                  <p *ngIf="shop.receiver">
                    მიმღები :
                    <b>{{shop.receiver}}</b>
                  </p>
                   
                </div>
                <div>
                  <div class="rules">
                    <p class="to-pay-text">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="user-information" *ngIf="!order.isPaid" style="padding: 20px;">
            <div class="rules-align">
                <div class="rules" style="display: flex; flex-direction: column; gap: 30px;" >
                    <p style="line-height: 25px;" (click)="copyToClipboard(`შეკვეთის ნომერი ${order.orderId }`,3)"> 
                      გადახდის შემდეგ მოგვწერეთ შეკვეთის ნომერი
                      <b class="order-num-text" style="text-wrap: nowrap; padding: 2px 5px; background-color: rgb(255, 121, 0); border-radius: 5px;cursor: pointer; position: relative;" >
                        #{{ order.orderNumber }}  
                        <span class="ordernumcopied" *ngIf="copiedNumber ==3"> ✅</span>
                        <i class="fas fa-copy  copy-style" style="color: white"></i>
                      </b>
                    </p>
                  <div class="link-align">
                    <a class="link-button instagram" [href]="shop.instagram" target="_blank" >
                      <div class="main-logo-name">
                        <div class="main-logo">
                          <img [src]="shop.logo" alt="" class="shop-img">
                        </div>
                        <p>
                           {{shop.name}}
                        </p>
                      </div>
                      <img src="assets/icons/instagram.svg" alt="">
                    </a>
                    <a class="link-button facebook" [href]="shop.facebook" target="_blank">
                        <div class="main-logo-name">
                          <div class="main-logo">
                            <img [src]="shop.logo" alt="" class="shop-img">
                          </div>
                            <p>
                           {{shop.name}}
                           </p>
                        </div>
                        <img src="assets/icons/facebook.svg" alt="">
                    </a>
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
