<div class="gallery-align">
    <div class="profile-align">
        <div class="profile-container-align">
            <div class="profile-container">
                <img [src]="user.Picture" class="profile" alt="">
            </div>
            <p class="username">{{user.Name}}</p>
        </div>
       <div (click)="logout()" class="log-out">
          <i class="fas fa-sign-out-alt"></i>
          <p> გასვლა</p> 
       </div>
    </div>
    <div class="profile-header">
        <p (click)="changeProductSource(1)" [ngClass]="{'active':likesOrOrders ==1}">
            შეკვეთები
            <i class="fas fa-receipt"></i>       
        </p>
        <p (click)="changeProductSource(2)" [ngClass]="{'active':likesOrOrders ==2}">
            მოწონებული
            <i class="fas fa-heart" ></i>
        </p>
    </div>

    <ng-container *ngIf="likesOrOrders ==1">
        <div class="photo-align orders-align" *ngIf="MyOrders.length>0">
            <div *ngFor="let p of paginatedOrders; let index = index;">
                <div class="order-card" [ngClass]="{'payed-container':p.isPaid}" (click)="navigateTodetails(p.orderId)">
                    <div class="order-number" [ngClass]="{'payed':p.isPaid,'topay':!p.isPaid}">
                        შეკვეთა <b>#{{p.orderNumber}}</b>
                    </div>
                    <app-photo-album [products]="p" [PhotoCongif]="PhotoConfig" class="album"></app-photo-album>
                </div>
            </div>
        </div>
        <div class="pagination-align" *ngIf="totalPages>1">
            <button class="page-nav" [disabled]="currentPage===1" (click)="goToPage(currentPage-1)">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="page-number" *ngFor="let n of pageNumbers" [ngClass]="{'active':n===currentPage}" (click)="goToPage(n)">
                {{n}}
            </button>
            <button class="page-nav" [disabled]="currentPage===totalPages" (click)="goToPage(currentPage+1)">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="likesOrOrders ==2">
        <div class="photo-align" *ngIf="LikedProducts">
            <ng-container *ngFor="let p of LikedProducts; let index = index;" >
                <app-photo-album [products]="p" [PhotoCongif]="PhotoConfig" class="album" ></app-photo-album>
            </ng-container>
        </div>
    </ng-container>
    <div class="no-posts-todisplay" *ngIf="LikedProducts==null && MyOrders == null">
        <i class="far fa-camera"></i>
        <p>No products to dislpay!</p>
    </div>
</div>
