<div class="page" *ngIf="posts">
  <div class="top-section">

    <div class="photo-block">
      <div class="photo-main">
        <img [src]="photosArray[photoVisibleNum]?.photoUrl" alt="" class="main-img" >
        <button class="zoom-button"  (click)="showBigPhoto()">
            <i class="fas fa-expand"></i>
        </button>
      </div>
      <div class="photo-thumbnails">
        <div
          class="thumb"
          *ngFor="let p of photosArray; let i = index"
          [class.active]="i === photoVisibleNum"
          (click)="Slide(i)"
        >
          <img [src]="p.photoUrl" alt="">
        </div>
      </div>
    </div>

    <div class="info-card" *ngIf="postsLoaded">
        <app-discount-mark *ngIf="posts.discountedPrice!=null&&posts.discountedPrice>0" class="discount-procent" [discount]="posts"></app-discount-mark>
        <p class="product-title">{{ posts.title }}</p>
        
        <div class="divider"></div>
        
        <div class="info-row">
        <div class="price-row">
          <span class="price-current" [class.crossed]="posts.discountedPrice > 0">{{ posts.price }}₾</span>
          <span class="price-discounted" *ngIf="posts.discountedPrice > 0">{{ posts.discountedPrice }}₾</span>
        </div>
      </div>

      <div class="info-row" *ngIf="posts.quantity > 0">
        <div class="stock-row">
            <span>მარაგში {{ posts.quantity }}</span>
            <span class="stock-dot"></span>
        </div>
      </div>

      <div class="info-row" *ngIf="posts.description">
        <!-- <p class="row-label">აღწერა</p> -->
        <div class="description-box">{{ posts.description }}</div>
      </div>

      <button class="order-btn" (click)="insertOrder()">შეკვეთის დაწყება</button>
    </div>
  </div>

</div>
<div class="reviews-section"  *ngIf="posts">
  <app-reviews></app-reviews>
</div>

<div class="big-photo-container" *ngIf="bigPhotoVisible">
  <div class="whole-screen-img">
    <button class="x-button" (click)="hideBigPhoto()">
      <i class="fas fa-times"></i>
    </button>
    <ng-container *ngFor="let p of photosArray; let i = index">
      <img [src]="p.photoUrl" class="photo" [ngClass]="{'pop-up': i === photoVisibleNum}" alt="">
    </ng-container>
    <div class="next-photo-align">
      <div class="next-photo previous-photo" (click)="previousPhoto()"><i class="fas fa-chevron-left"></i></div>
      <div class="next-photo" (click)="nextPhoto()"><i class="fas fa-chevron-right"></i></div>
    </div>
    <div class="unordered-list">
      <span *ngFor="let p of photosArray; let photoNum = index" (click)="getOnTheClickedPhoto(photoNum)">
        <i class="far" *ngIf="photoNum !== photoVisibleNum"></i>
        <i class="fas" *ngIf="photoNum === photoVisibleNum"></i>
      </span>
    </div>
  </div>
</div>