<div class="gallery-align">
    <div class="filters-align">
         <div class="section-filters-align">
            <!-- <b class="section-title">
                <i class="fas fa-circle"></i> 
                მოძებნე ფილტრით
                <button class="open-filter" [ngClass]="{'active-filter': activeFilterNum == 0}" (click)="showFilterModal()"><i class="fas fa-sliders-h"></i> </button>
            </b> -->
            <div class="filters-align">
                <div class="filters" [ngClass]="{'active-filter': activeFilterNum == 0}"  (click)="ApplyFitler(null)"  [attr.data-id]="0">ყველა</div>
                <div class="filters" [ngClass]="{'active-filter': activeFilterNum == i.id}"  *ngFor="let i of productTypesList" (click)="ApplyFitler(i.id)" >
                    {{i.productType}}
                </div>
            </div> 

        </div>
        <div class="modal-align" *ngIf="filterModalVisible"> 
            <div class="modal-background" (click)="hideFilterModal()">
            </div>
            <div class="modal" [ngClass]="{'hide-modal':hideModalExecute}">
                <div class="modal-header" >
                    <i></i>
                    <i class="fas fa-times" (click)="hideFilterModal()"></i>
                </div>
                <div class="modal-body">
                    <div class="header"> 
                    </div>
                    <div class="stage-oAuth" >
                        <button class="filter-button" [ngClass]="{'active-filter': activeFilterNum == 0}" (click)="ApplyFitler(null)">ყველა</button>
                        <button class="filter-button" *ngFor="let product of productTypesList" [ngClass]="{'active-filter': activeFilterNum == product.id}" (click)="ApplyFitler(product.id)">{{product.productType}}</button>
                    </div>
                    <!-- <div class="header"> 
                        <p>დაალაგე ფასის მიხედვით</p>
                    </div>
                    <div class="stage-oAuth" >
                        <button class="filter-button" [ngClass]="{'active-filter': sortNum == 2}"(click)="sortByPriceLowToHigh()">ზრდადობით</button>
                        <button class="filter-button" [ngClass]="{'active-filter': sortNum == 1}"(click)="sortByPriceHighToLow()">კლებადობით</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="photo-align"*ngIf="Cards.length>0">
        <ng-container *ngFor="let p of Cards; let index = index;">
            <div class="container">
                <app-photo-album [products]="p"[PhotoCongif]="PhotoConfig" class="album"  [ngClass]="{'sort-cards':sortNum == 1 || sortNum == 2,}"></app-photo-album>
            </div>
        </ng-container>
    </div>
    <div class="no-posts-align" *ngIf="Cards.length<=0">
        <div class="no-posts">
            <i class="far fa-camera"></i>
            <p class="">No posts yet!</p>
        </div>
    </div>
</div>


<div class="center-pagenation" *ngIf="Cards.length>0">
     <div class="pageination-align">
    <div class="buttons-align">
       <button class="next-button" type="button" (click)="changePage(selectedPage - 1)">
         <span class="btn-inner--icon">
           ◀
         </span>
       </button>
       <div class="page-numbers-align">
         <ng-container *ngFor="let p of [0,1,2,3,4]">
           <button *ngIf="(pageNumber + p) <= totalPages" class="pageination-buttons"
             [class.selected]="selectedPage === (pageNumber + p)" (click)="changePage(pageNumber + p)">
             {{ pageNumber + p }}
           </button>
         </ng-container>
       </div>
       <button class="next-button" type="button" (click)="changePage(selectedPage + 1)">
         <span class="btn-inner--icon">
          ▶
         </span>
       </button>
    </div>
</div>
</div>